.pastel-caldo {
    width: 100vw;
}

.destaque-txt {

    position: absolute;
    margin: 0 auto; 
    text-align: center;
    width: 100%;
    top: 120px;
    color: rgb(255, 247, 247);
    background-color: rgba(0, 0, 0, 0.274);
    padding: 0.5rem;
    box-sizing: border-box;
}

.destaque-txt h1 {
    padding: 0.7rem;
    font-size: 1.7rem;
    text-shadow: #fff 1px 3px 4px;
    animation: ani 0.5s 1.1s infinite;

}
.destaque-txt p {
    font-size: 1.5rem;
    text-shadow: #fff 1px 3px 4px;
    animation: ani 0.5s 1.12s infinite;

}

@keyframes ani {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (min-width: 768px) {
    
    .pastel-caldo {
        display: none;
    }
    
    .destaque-txt-div {

        background-image: url(../img/pt-caldo2.jpg);
        background-size: 100%;
        padding: 2rem 0;
    }

    .destaque-txt {
        position: relative;
        top: 0px;
        width: 40%;
        background-color: rgba(0, 0, 0, 0.247);
    }

}