.pastel{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.pastel-div {
    text-align: center;
    padding: 2rem;
    border: 2px solid rgb(214, 193, 193);
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(240, 139, 139, 0.445) 4px 2px 10px;

}

.pastel-div:hover, .pastel-div:active {

    border: 2px solid rgb(228, 174, 26);
    background-color: #f87102b2 ;

}

.pastel-div--img {
    width: 100%;
    
}

.pastel-titulo {
    margin-top: 1rem;
    color: #ff4800fb;
    text-shadow: rgba(219, 219, 219, 0.774) 1px 1px;
}
.pastel-ft {
    border-radius: 100%;
    box-shadow: rgba(240, 139, 139, 0.445) 4px 2px 10px;

    height: 150px;
    width: 250px;
}
.valor{
    display: flex;
    justify-content: flex-end;
    gap: 0.3rem;
}
.leaozinho {
    width: 20px;
}

@media screen and (min-width: 768px) {
    
    .pastel{
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }


}