.container__footer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--bg-chamada-mobile);;
}
.footer__nome {

    color: #ffffff;
    text-shadow: 1px 1px #696969;
}
@media screen and (min-width: 1024px) {

}
